{% extends "base.html" %}

{% block content %}

<div class="top-bar">

    <a href="{{ url_for('create') }}" class="new-post-btn">
        + Nytt innlegg
    </a>

    <nav class="search-nav">

        <form action="{{ url_for('search') }}" method="GET">

            <input
                type="text"
                name="q"
                placeholder="Søk i blogg.."
                required
            >

            <button type="submit">Søk</button>

        </form>
        <div class="tag-overview">

    <a href="{{ url_for('tag', tag='Filosofi') }}">Filosofi</a>

    <a href="{{ url_for('tag', tag='Turer') }}">Turer</a>

    <a href="{{ url_for('tag', tag='kultur') }}">Kultur</a>

    <a href="{{ url_for('tag', tag='film') }}">Film</a>

</div>

    </nav>

</div>

{% for post in posts %}

<div class="post-card">

<h3 class="post-title">
<a href="{{ url_for('post', post_id=post.id) }}">
{{ post.title }}
</a>
</h3>

<p class="post-date">{{ post.created }}</p>

<p>
{{ post.body[:150] }}...
</p>

{% if post.image %}
<img src="{{ url_for('static', filename='uploads/' + post.image) }}" class="card-image">
{% endif %}

<div class="tags">
{% for tag in (post.tags or "").split(",") %}
<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
{% endfor %}
</div>

</div>

{% endfor %}

{% endblock %}