{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('create') }}" class="new-post-btn">+ New Post</a>

{% for post in posts %}

<div class="post-card">

<h3 class="post-title">
<a href="{{ url_for('post', post_id=post.id) }}">
{{ post.title }}
</a>
</h3>

<p class="post-date">{{ post.created }}</p>

<p>
{{ post.body[:150] }}...
</p>

<div class="tags">
{% for tag in (post.tags or "").split(",") %}
<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
{% endfor %}
</div>

</div>

{% endfor %}

{% endblock %}