{% extends "base.html" %}

{% block content %}

<h2>{{post.title}}</h2>

<p>{{post.body}}</p>
{% if post.image %}

{% set images = post.image.split(",") %}

<div class="{% if images|length == 1 %}single-post-image{% else %}image-gallery{% endif %}">

{% for image in images %}

<img
    src="{{ url_for('static', filename='uploads/' + image) }}"
    class="{% if images|length == 1 %}hero-image{% else %}post-image{% endif %}"
>

{% endfor %}

</div>

{% endif %}

<div>
<a href="{{ url_for('edit', post_id=post.id) }}" class="button">Rediger innlegg</a>
</div>
<h3>Kommentarer</h3>

{% for c in comments %}

<b>{{c.title}}</b>
<p>{{c.content}}</p>
<hr>

{% endfor %}

<h3>Skriv kommentar</h3>

<form method="post" action="/comment/{{post.id}}">

<input name="title" placeholder="Tittel">

<textarea name="content"></textarea>

<button type="submit">Publiser</button>

</form>

{% endblock %}