{% extends "base.html" %}

{% block content %}

<h2>{{post.title}}</h2>

<p>{{post.body}}</p>

<a href="/edit/{{post.id}}">Edit</a>

<h3>Comments</h3>

{% for c in comments %}

<b>{{c.title}}</b>
<p>{{c.content}}</p>
<hr>

{% endfor %}

<h3>Add comment</h3>

<form method="post" action="/comment/{{post.id}}">

<input name="title" placeholder="Title">
{% if post.image %}
<img src="{{ url_for('static', filename='uploads/' + post.image) }}" style="max-width:100%; border-radius:10px;">
{% endif %}

<textarea name="content"></textarea>

<button type="submit">Add</button>

</form>

{% endblock %}