{% extends "base.html" %}

{% block content %}

<h2>{{post.title}}</h2>

<p>{{post.body}}</p>
{% if post.image %}
<img src="{{ url_for('static', filename='uploads/' + post.image) }}" class="post-image">
{% endif %}
<div>
<a href="{{ url_for('edit', post_id=post.id) }}" class="button">Rediger innlegg</a>
</div>
<h3>Kommentarer</h3>

{% for c in comments %}

<b>{{c.title}}</b>
<p>{{c.content}}</p>
<hr>

{% endfor %}

<h3>Skriv kommentar</h3>

<form method="post" action="/comment/{{post.id}}">

<input name="title" placeholder="Tittel">

<textarea name="content"></textarea>

<button type="submit">Publiser</button>

</form>

{% endblock %}